* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}


/*============================================
                common-header
===============================================*/

.common-header h3 {
	margin-bottom: 90px;
	font-size: 36px;
	color: #000000;
}


/*============================================
              mini nav
===============================================*/

.mini-nav {
	background-color: #fef7f6;
	color: #000000;
	padding: 2px 0px;
	font-size: 0.625rem;
	position: relative;
	font-weight: lighter;
}

.line {
	border-left: 1px solid #bdb9b8;
	padding: 0px 10px;
}

.mobile-margin {
	margin-top: 10px;
}

.mobile-margin2 {
	margin: 20px 0px;
}


/*============================================
                main nav
===============================================*/


/*navbar*/

#navbar_top {
	padding-top: 20px;
	padding-bottom: 20px;
	background: #ffffff;
}

.navbar-nav a {
	font-size: 13px;
	line-height: 10px;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #ff5353;
}

.navbar-light .navbar-nav .nav-link {
	color: #000000;
}


/*navbar icon*/

.icon {
	font-size: 15px;
	color: #000000;
}

.badge {
	background-color: #ff5353;
	position: absolute;
	font-size: 11px;
	border-radius: 50px;
}


/*search bar*/

.search {
	cursor: pointer;
}

.search-btn {
	background-color: #ffffff;
	border: none;
}

.search-btn:hover {
	background-color: #ffffff;
	border: none;
}

.search-btn.btn-light.focus,
.btn-light:focus {
	background-color: #ffffff;
	border: none;
	box-shadow: none;
	outline: none;
}

.search-btn.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show>.btn-light.dropdown-toggle {
	background-color: #ffffff;
	border: none;
	box-shadow: none;
	outline: none;
}

.btn-light:not(:disabled):not(.disabled).active:focus,
.btn-light:not(:disabled):not(.disabled):active:focus,
.show>.btn-light.dropdown-toggle:focus {
	box-shadow: none;
}


/*search text*/

.text {
	display: none;
	background-color: transparent;
	padding: 5px 10px;
	color: grey;
	height: 32px;
	border-radius: 40px;
}

.text:focus {
	border: none;
}


/*============================================
                background
===============================================*/


/*button*/

.btn-danger.bg-btn {
	background-color: #ff5353;
	font-size: 14px;
	height: 50px;
	width: 170px;
	border: none;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	-ms-transition: .5s;
	transition: .5s;
}

.btn-danger.bg-btn:hover {
	background-color: #ffffff!important;
	Color: #0056b3;
	border: none;
}

.btn:not(:disabled):not(.disabled).bg-btn {
	background-color: #ff5353;
	border: none;
	outline: none;
	box-shadow: none;
}

.bg-btn.btn-danger:not(:disabled):not(.disabled).active:focus,
.btn-danger:not(:disabled):not(.disabled):active:focus,
.show>.btn-danger.dropdown-toggle:focus {
	box-shadow: none;
	color: #0056b3;
}


/*banner*/

#banner {
	background: url("../image/Silon---ecommerce-template-Recovered.jpg");
	position: relative;
}


/*background-text*/

.background-text {
	padding-top: 130px;
	padding-bottom: 145px;
}

.background-text h1 {
	padding-top: 10px;
	padding-bottom: 40px;
	font-size: 60px;
	color: #000000;
}

.background-text span {
	font-size: 14px;
	color: #565656;
	line-height: 11px;
	letter-spacing: 2px;
}


/*============================================
                feature text
===============================================*/

.feature-text span {
	font-size: 14px;
	color: #565656;
	margin-bottom: 20px;
}

.feature-text p {
	font-size: 18px;
	color: #000000;
}

.feature-text span i {
	font-size: 14px;
	color: #ff5353;
	margin-bottom: 15px;
}

.feature-text {
	margin-top: 30px;
}

#featured-product {
	padding-top: 150px;
	padding-bottom: 150px;
}

.about-images {
	position: relative;
	overflow: hidden;
}

.icon-overlay {
	position: absolute;
	bottom: -100%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.feature-content:hover .icon-overlay {
	bottom: 5%;
}

.feature-content:hover .first-icon {
	-webkit-animation: fadeInUp 300ms;
	animation: fadeInUp 300ms;
}

.feature-content:hover .second-icon {
	-webkit-animation: fadeInUp 600ms;
	animation: fadeInUp 600ms;
}

.feature-content:hover .third-icon {
	-webkit-animation: fadeInUp 900ms;
	animation: fadeInUp 900ms;
}

.icon-overlay i {
	color: black;
	width: 50PX;
	height: 50PX;
	border-radius: 50%;
	background-color: #ffffff;
	line-height: 50px;
	font-size: 14px;
	transition: .50s;
	-webkit-transition: .50s;
	-moz-transition: .50s;
	-o-transition: .50s;
	-ms-transition: .50s;
	padding: 4px 0px;
}

.icon-overlay i:hover {
	color: #ffffff;
	background-color: #ff5353;
	cursor: pointer;
}


/*============================================
                50% off
===============================================*/

.offer-left {
	margin-top: 130px;
	margin-bottom: 130px;
}

#offer {
	background: #f6f1eb;
}

.offer-left span {
	font-size: 100px;
	color: #000000;
	font-family: 'Dancing Script', cursive;
}

.offer-left p {
	font-size: 42px;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	color: #4a4a4a;
	margin-bottom: 35px;
	margin-top: 10px;
}


/*============================================
                popular
===============================================*/

#popular-product {
	padding-top: 150px;
	padding-bottom: 150px;
}

.box {
	border: 1px solid #888888;
	box-sizing: border-box;
	padding: 20px 10px 20px 10px;
	height: 170px;
	width: 100%;
	margin-top: 110px;
}

.popular-bottom h5 {
	font-size: 15px;
	color: #000000;
	margin-top: 20px;
}

.popular-bottom p {
	font-size: 14px;
	Color: #888888;
}


/*============================================
                trending
===============================================*/

#trending {
	padding-top: 150px;
	padding-bottom: 150px;
}


/*============================================
                journal
===============================================*/

#journal {
	padding-bottom: 150px;
}

.journal-text {
	padding-top: 25px;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
}

.journal-text h5 {
	font-size: 20px;
	margin-top: 15px;
	color: #000000;
	font-style: bold;
}

.journal-text h5:hover {
	color: #ff5353;
}

.journal-text i:hover {
	color: #ff5353;
}

.journal-text span:hover {
	color: #ff5353;
}

.journal-text span {
	color: #888888;
	font-size: 13px;
}

.journal-text i {
	color: #888888;
	font-size: 14px;
}


/*============================================
                follow
===============================================*/

#follow {
	padding-bottom: 150px;
}

.follow-img {
	position: relative;
	overflow: hidden;
}

.follow-overlay {
	position: absolute;
	background: #ff5353;
	height: 100%;
	width: 100%;
	bottom: -10%;
	transition: .25s;
	-webkit-transition: .25s;
	-moz-transition: .25s;
	-o-transition: .25s;
	-ms-transition: .25s;
	opacity: 0;
}

.follow-img:hover .follow-overlay {
	bottom: 0;
	opacity: 0.7;
}

.follow-overlay i {
	color: white;
	font-size: 35px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	transition-duration: 1s;
}


/*============================================
                footer
===============================================*/

#footer {
	background: #f7f1eb;
	padding-bottom: 0px;
	padding-top: 100px;
}

.footer-text h5 {
	font-size: 16px;
	color: #000000;
}

.footer-text li {
	font-size: 14px;
	color: #888888;
	line-height: 30px;
	list-style-type: none;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	-ms-transition: .5s;
	transition: .5s;
}

.footer-text li:hover {
	color: #ff5353;
}

.footer-text a {
	text-decoration: none;
}

.footer-lower i {
	font-size: 18px;
	color: black;
	height: 30px;
	width: 30px;
	background-color: white;
	padding: 7px 8px;
	cursor: pointer;
	margin: 0 2px;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	-ms-transition: .5s;
	transition: .5s;
}

.footer-lower i:hover {
	background-color: #ff5353;
	color: #ffffff;
}


/*app btn1*/

.app-btn {
	padding: 1px 20px;
	background: #ffffff;
	border: none;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	-ms-transition: .5s;
	transition: .5s;
	margin-bottom: 30px;
	margin-top: 20px;
	margin-right: 2px;
	border-radius: 2px;
}

.app-btn:hover {
	color: #ffffff;
	background: #ff5353;
}

.app-btn:hover i {
	color: #ffffff;
}

.app-btn:hover p {
	color: #ffffff;
}

.app-btn i {
	font-size: 20px;
	color: #ff5353;
	display: flex;
}

.get-on {
	font-size: 10px;
	color: #888888;
}

.get-play {
	font-size: 13px;
}


/*app btn1*/

.app-btn2 {
	padding: 1px 20px;
	background: #ff5353;
	border: none;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	-ms-transition: .5s;
	transition: .5s;
	margin-bottom: 30px;
	margin-top: 20px;
	border-radius: 2px;
}

.app-btn2 i {
	font-size: 20px;
	color: #ffffff;
}

.get-on2 {
	font-size: 10px;
	color: #ffffff;
}

.get-play2 {
	font-size: 13px;
	color: #ffffff;
}


/*============================================
                copyright
===============================================*/

.copyright {
	padding-top: 80px;
	padding-bottom: 10px;
}

.copyright p {
	font-size: 14px;
	line-height: 27px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #888888;
}

.copyright span {
	color: #ff5353;
	cursor: pointer;
}